
@use '../../../styles/base.scss';

.sop-the-header {
  --header-bg-color: #FFF;
  --header-content-color: #FFF;
  --header-height: 64px;
  --header-action-item-spacing: 12px;

  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  padding: 0 24px;
  width: 100%;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  background: var(--header-bg-color);
  box-shadow: inset 0 -1px #DDD;
  z-index: 10;

  img {
    height: 20px;
  }

  .the-header-left__content {
    display: flex;
    align-items: center;

    .the-logo {
      margin-right: 40px;
      cursor: pointer;
    }
    .the-sub-title {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        width: 1px;
        height: 22px;
        background-color: var(--seemusic-primary);
        transform: translateY(-50%);
      }
      h3 {
        font-size: 22px;
        font-weight: normal;
        line-height: 24px;
        color: var(--seemusic-primary);
      }
    }
  }

  .the-header-right__content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    color: var(--seemusic-text-normal);
  }
}
