.app-layout-main {
  width: 100%;
  min-height: 100vh;
  .app-layout-sidebar {
    position: relative;
    flex: none;
    height: 100vh;
    transition: var(--el-transition-duration) width ease-out;

    .el-aside {
      border-top: none !important;
      position: fixed;
      top: 64px;
      height: calc(100vh - 64px);
    }
  }

  .el-header {
    height: 64px;
    padding: 0;
  }
  .el-main {
    padding: 0 24px;
  }
}
