@use "../../../styles/base.scss";

.sop-page__hd {
  margin-bottom: 16px;
  padding: 12px 0;
  height: 24px;
  line-height: 24px;
  color: var(--seemusic-text-normal);
  box-shadow: inset 0 -1px 0 0 #DDD;

  a {
    float: left;
  }

  .slice {
    float: left;
    margin: 0 6px;
    color: var(--seemusic-text-description);
  }

  .sop-icon {
    float: left;
    margin-left: -10px;
    margin-right: -4px; // 间隙调整
    margin-top: -1px; // 纵向对齐调整
    font-size: 24px;
    transform: rotate(90deg);
  }

  .sop-page-path,
  .sop-page-title {
    float: left;
  }

  .sop-page-title {
    // font-weight: 600;
    .separate {
      margin: 0 8px;
    }
    .sop-page-title-item:not(:last-child) {
      color: var(--seemusic-text-description)
    }
    .sop-page-title-item:nth-last-child(2) {
      .separate {
        color: #666;
      }
    }

  }

  .sop-page-opt {
    float: right;
  }
}
